name: Flutter Release

on:
  release:
    types: [published]

jobs:
  build:
    name: Build and Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: Install dependencies
        run: flutter pub get

      - name: Build APK (Universal)
        run: |
          flutter build apk \
            --release \
            --target-platform=android-arm,android-arm64 \
            --obfuscate \
            --split-debug-info=build/app/outputs/symbols

      - name: Rename APKs
        run: |
          mv build/app/outputs/flutter-apk/app-release.apk build/app/outputs/flutter-apk/komikuy-release.apk

      - name: Upload Release Assets
        uses: softprops/action-gh-release@v2
        with:
          files: |
            build/app/outputs/flutter-apk/komikuy-release.apk
          tag_name: ${{ github.ref_name }}
          name: Release ${{ github.ref_name }}
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN_GITHUB }}
